<div class="uk-width-medium-1-2">
  <div class="kolab-textBlock">
    {{#'text-block'}}
      <h3 class="kolab-textBlock-heading">{{title}}</h3>
      {{#each paragraph}}
        <p class="kolab-textBlock-paragraph">{{this}}</p>
      {{/each}}
    {{/'text-block'}}

  </div>
